# Впишите свои реальные значения, скопированные из developer.paypal.com -> Apps & Credentials
PAYPAL_CLIENT_ID=ARY929SA6LSqK1TU3W3FROkM9Y8CTcTTn7cSCSsVgHvZ4oPMSQqD1O1OYkrjLCwmt1GH0cIxe0m84OLL
PAYPAL_CLIENT_SECRET=EM1tWpef6odj3ALz8LvIBA9Iw4idFrISC4MS-FtTrmomBOz3ZrQwwZNgsvMEL0HOpvCEJ6IPM4LHIdjc

# sandbox = тестовый режим (без реальных денег), live = реальные платежи
PAYPAL_MODE=live

# Валюта. PayPal не работает с RUB напрямую -- из России обычно используют USD или EUR
PAYPAL_CURRENCY=USD

# Порт, на котором будет работать этот PayPal-сервер (Render сам подставит свой, можно оставить так)
PORT=4000

# Адрес вашего Minecraft-бэкенда, который выдаёт привилегии (тот, что уже был на сайте)
MINECRAFT_BACKEND_URL=http://p1.foxter.top:25802
